<nb-layout>
    <nb-layout-header fixed>
        <img class="logo" src="assets/Sun-9-Invisible-Sun.png" />
    </nb-layout-header>

    <nb-layout-column>

        <nb-card>
            <nb-card-header>
                Step 1. Choose/Load Maker Profile
            </nb-card-header>
            <nb-card-body>

                <div class="form-wrapper">
                    <div class="form-input">
                        <nb-select status="primary" hero placeholder="Select Player" (selectedChange)="playerSelect($event)" >
                            <nb-option *ngFor="let item of players" [value]="item">
                                <span [innerHTML]="item.name"></span>
                            </nb-option>
                        </nb-select>
                    </div>
                    <div class="form-result">
                        <div *ngIf="selected_player">
                            <div class="container"><div class="label">Level:</div><div class="value" [innerHTML]="selected_player.level_number"></div></div>
                        </div>
                    </div>
                </div>

            </nb-card-body>
        </nb-card>

        <nb-card>
            <nb-card-header>
                Choose Effect Level
            </nb-card-header>
            <nb-card-body>
            </nb-card-body>
        </nb-card>

        <nb-card>
            <nb-card-header>
                Select Material
            </nb-card-header>
            <nb-card-body>
                <div class="form-wrapper">
                    <div class="form-input">
                        <nb-select status="primary" hero placeholder="Select Material" (selectedChange)="materialSelect($event)" >
                            <nb-option *ngFor="let item of avail_material" [value]="item">
                                <span [innerHTML]="item.material"></span>
                            </nb-option>
                        </nb-select>
                    </div>
                    <div class="form-result">
                        <div *ngIf="selected_material">
                            <div class="container"><div class="label">Level:</div><div class="value" [innerHTML]="selected_material.level"></div></div>
                            <div class="container"><div class="label">Cost:</div><div class="value" [innerHTML]="selected_material.cost"></div></div>
                            <div class="container"><div class="label">Currency:</div><div class="value" [innerHTML]="selected_material.currency"></div></div>
                        </div>
                    </div>
                </div>

            </nb-card-body>
        </nb-card>

        <nb-card>
            <nb-card-header>
                Select Ingredients
            </nb-card-header>
            <nb-card-body>
                <div class="form-wrapper">
                    <div class="form-input">
                        <nb-select status="primary" hero placeholder="Select Ingredient" (selectedChange)="ingredientSelect($event)">
                            <nb-option *ngFor="let item of avail_ingredient" [value]="item">
                                <span [innerHTML]="item.ingredient"></span>
                            </nb-option>
                        </nb-select>
                    </div>
                    <div class="form-result">
                        <div *ngIf="selected_ingredient">
                            <div class="container"><div class="label">Level:</div><div class="value" [innerHTML]="selected_ingredient.level"></div></div>
                            <div class="container"><div class="label">Cost:</div><div class="value" [innerHTML]="selected_ingredient.cost"></div></div>
                            <div class="container"><div class="label">Currency:</div><div class="value" [innerHTML]="selected_ingredient.currency"></div></div>
                        </div>
                    </div>
                </div>

                <div class="form-wrapper">
                    <div class="form-input">
                        <input nbInput class="number-input" type="number" [(ngModel)]="ingredient_challenge" status="primary" placeholder="Ingredient Challenge Result" />
                    </div>
                    <div class="form-result">
                        <button nbButton (click)="ingredientChallengeCheck()" status="success">Check</button>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>

        <nb-card>
            <nb-card-header>
                Add Catalyst (if needed)
            </nb-card-header>
            <nb-card-body>
                <div *ngIf="catalyst_needed">
                    <h1>Catalyst Needed!</h1>
                </div>
            </nb-card-body>
        </nb-card>

        <nb-card>
            <nb-card-header>
                Add Stabilizer (if needed)
            </nb-card-header>
            <nb-card-body>
            </nb-card-body>
        </nb-card>

        <nb-card>
            <nb-card-header>
                Attach Power Source
            </nb-card-header>
            <nb-card-body>
            </nb-card-body>
        </nb-card>

        <nb-card>
            <nb-card-header>
                Past Inventions
            </nb-card-header>
            <nb-card-body>
            </nb-card-body>
        </nb-card>

    </nb-layout-column>

</nb-layout>
