.form-wrapper {
  display: flex;
  margin-bottom: 20px;
  .form-input {
    width: 50%;
    .number-input {
      width: 250px;
    }
  }
  .form-result {
    width: 50%;
    button {
      width: 175px;
      margin: 0 auto;
    }
    .container {
      display: flex;
      .label {
        width: 150px;
        font-weight: bold;
      }
    }
  }
}
